<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom border-top row">
      <div class="col-md-12 text-md-center">
        <span class="px-2" style="color: #999;">Developed by <a href="https://github.com/kesav1708/GreatKart-Django">Kesavaraja Kirubhakaran</a></span><br>
        <a href="#">kesavkirubha1708@gmail.com</a>  <span style="color: #999;"><i class="bi bi-geo-alt-fill" ></i>Chennai,India</span>
      </div>
    </section>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- ========================= FOOTER END // ========================= -->
